body {
  padding: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.capital{
  margin: 1rem;
}

.flag{
  width: 3rem;
  height: 2rem;
}

.img-fluid{
  max-height: 2rem;
}

#input_capital{
  width: 300px;
}
.form-control{
  width: 50%;
}

.none{
  display: none;
}
